/* LoginPage.css */
/* LoginPage.css */

/* Add a background image to the body */
body {
  background-image: url('../../public/Mapeera1.jpg'); /* Replace with the actual path to your image */
  background-size: cover; /* Cover the entire viewport */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Fixed background */
  background-position: center center; /* Center the image horizontally and vertically */
  margin: 0; /* Remove default margin to ensure full coverage */
  padding: 0; /* Remove default padding */
}


/* Container styles */
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
}

/* Form styles */
.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow to the card */
  max-width: 400px; /* Set a maximum width for the card */
  width: 100%; /* Make the card width 100% of its container */
  height: auto; /* Let the height adjust to content */
}

h2 {
  color: #3498db; /* Blue text */
  margin-bottom: 20px;
}
h1{
  color: #e74c3c; /* Red text */
  margin-top: 10px;
}

input {
  width: 100%; /* Make the input fields width 100% of the card */
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%; /* Make the button width 100% of the card */
  padding: 10px;
  margin-top: 10px;
  background-color: #f1c40f; /* Yellow background */
  color: #fff; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e74c3c; /* Red background on hover */
}

/* Error message styles */
p {
  color: #e74c3c; /* Red text */
  margin-top: 10px;
}
